{% extends 'blog/layout.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{% if active == 'blog' %}{% trans "Новини" %}{% else %}{% trans "Міжнародні Відносини" %}{% endif %} | KHAI-GIS ©
{% endblock %}


{% block content %}
<div id="content-wrapper">
    <div class="blocks-container">
        <div class="container blog-container">
            <div class="new-block type-19">
                <div class="container">
                    <div class="row page-tagline">
                        <div class="col-md-6 col-md-offset-3 wow flipInX" data-wow-delay="0.3s">
                            <h2 class="title">{% if active == 'international' %}{% trans " МІЖНАРОДНІ ВІДНОСИНИ " %}{% else %}{% trans " НОВИНИ КАФЕДРИ " %}{% endif %}</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    {% if LANGUAGE_CODE == 'en' %}
                    <div class="col-md-10 col-md-offset-1 blog-content-column">

                            {% for post in posts_en %}
                            <div class="blog-post style-3">
                                <div class="row">
                                    <div class="col-md-6  col-md-push-6">
                                        {% for image in post.images.all %}
                                        <a href="{{image.image.url}}" class="thumbnail-entry"
                                            data-fancybox="{{post.date.day}}{{post.date.month}}{{post.date.year}}"><img
                                                src="{{image.image.url_thumb}}" alt="{{image.description}}">
                                            <p style="margin-left: 5px; margin-top: 3px;">{{image.description}}</p>
                                        </a>
                                        <div class="clear"></div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6  col-md-pull-6">
                                        <div class="data">
                                            <div class="date"><span>{{post.date.day}}</span>{{post.date.month}}<br />
                                                {{post.date.year}}</div>
                                            <div class="text">
                                                <a class="title" href="{{post.get_absolute_url}}"> {{post.entitle}} </a>
                                                <div class="description"> {{post.enbody|safe}}
                                                    <br>
                                                    {% if post.files.all %}
                                                    <p>{% trans "Файли для завантаження:" %}</p>
                                                    <ul>
                                                        {% for file in post.files.all %}
                                                        <li>
                                                            <a href="{{file.filename.url}}" class="">
                                                                <p style="margin-left: 5px; margin-top: 3px;">
                                                                    {{file.description}}</p>
                                                            </a>
                                                            <div class="clear"></div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </div>
    
                                                <div class="author-entry">
                                                    <a href="#" class="author-thumbnail"><img alt=""
                                                            src="{% static 'blog/img/theme-3/logo-act-1.png' %}"
                                                            class="img-circle"></a>
                                                    <div class="author-text">KhAI-K407GIS <span class="category">
                                                            {{post.category}} </span>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            {% endfor %}
                            <div class="paginator">
                                <ul>
                                    {% for i in paginator.page_range %}
                                    {% if posts_en.number == i %}
                                    <li><a class="active">{{ i }}</a></li>
                                    {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div>
                                    {% if posts_en.has_previous %}
                                    <a href="?page={{ posts_en.previous_page_number }}" class="arrow-button"><span
                                            aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>{% trans "Попередня" %}</a>
                                    {% else %}
                                    <a href="" class="arrow-button"><span aria-hidden="true"></span></a>
                                    {% endif %}
    
                                    {% if posts_en.has_next %}
                                    <a href="?page={{ posts_en.next_page_number }}" class="arrow-button">{% trans "Наступна " %}<span
                                            aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                                    {% endif %}
    
                                </div>
    
    
                            </div>
                    </div>
                    {% elif LANGUAGE_CODE == 'ru' %}
                    <div class="col-md-10 col-md-offset-1 blog-content-column">

                            {% for post in posts_ru %}
                            <div class="blog-post style-3">
                                <div class="row">
                                    <div class="col-md-6  col-md-push-6">
                                        {% for image in post.images.all %}
                                        <a href="{{image.image.url}}" class="thumbnail-entry"
                                            data-fancybox="{{post.date.day}}{{post.date.month}}{{post.date.year}}"><img
                                                src="{{image.image.url_thumb}}" alt="{{image.description}}">
                                            <p style="margin-left: 5px; margin-top: 3px;">{{image.description}}</p>
                                        </a>
                                        <div class="clear"></div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6  col-md-pull-6">
                                        <div class="data">
                                            <div class="date"><span>{{post.date.day}}</span>{{post.date.month}}<br />
                                                {{post.date.year}}</div>
                                            <div class="text">
                                                <a class="title" href="{{post.get_absolute_url}}"> {{post.rutitle}} </a>
                                                <div class="description"> {{post.rubody|safe}}
                                                    <br>
                                                    {% if post.files.all %}
                                                    <p>{% trans "Файли для завантаження:" %}</p>
                                                    <ul>
                                                        {% for file in post.files.all %}
                                                        <li>
                                                            <a href="{{file.filename.url}}" class="">
                                                                <p style="margin-left: 5px; margin-top: 3px;">
                                                                    {{file.description}}</p>
                                                            </a>
                                                            <div class="clear"></div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </div>
    
                                                <div class="author-entry">
                                                    <a href="#" class="author-thumbnail"><img alt=""
                                                            src="{% static 'blog/img/theme-3/logo-act-1.png' %}"
                                                            class="img-circle"></a>
                                                    <div class="author-text">KhAI-K407GIS <span class="category">
                                                            {{post.category}} </span>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            {% endfor %}
                            <div class="paginator">
                                <ul>
                                    {% for i in paginator.page_range %}
                                    {% if posts_ru.number == i %}
                                    <li><a class="active">{{ i }}</a></li>
                                    {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div>
                                    {% if posts_ru.has_previous %}
                                    <a href="?page={{ posts_ru.previous_page_number }}" class="arrow-button"><span
                                            aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>{% trans "Попередня" %}</a>
                                    {% else %}
                                    <a href="" class="arrow-button"><span aria-hidden="true"></span></a>
                                    {% endif %}
    
                                    {% if posts_ru.has_next %}
                                    <a href="?page={{ posts_ru.next_page_number }}" class="arrow-button">{% trans "Наступна " %}<span
                                            aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                                    {% endif %}
    
                                </div>
    
    
                            </div>
                    </div>
                    {% else %}
                    <div class="col-md-10 col-md-offset-1 blog-content-column">

                        {% for post in posts %}
                        <div class="blog-post style-3">
                            <div class="row">
                                <div class="col-md-6  col-md-push-6">
                                    {% for image in post.images.all %}
                                    <a href="{{image.image.url}}" class="thumbnail-entry"
                                        data-fancybox="{{post.date.day}}{{post.date.month}}{{post.date.year}}"><img
                                            src="{{image.image.url_thumb}}" alt="{{image.description}}">
                                        <p style="margin-left: 5px; margin-top: 3px;">{{image.description}}</p>
                                    </a>
                                    <div class="clear"></div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-6  col-md-pull-6">
                                    <div class="data">
                                        <div class="date"><span>{{post.date.day}}</span>{{post.date.month}}<br />
                                            {{post.date.year}}</div>
                                        <div class="text">
                                            <a class="title" href="{{post.get_absolute_url}}"> {{post.title}} </a>
                                            <div class="description"> {{post.body|safe}}
                                                <br>
                                                {% if post.files.all %}
                                                <p>{% trans "Файли для завантаження:" %}</p>
                                                <ul>
                                                    {% for file in post.files.all %}
                                                    <li>
                                                        <a href="{{file.filename.url}}" class="">
                                                            <p style="margin-left: 5px; margin-top: 3px;">
                                                                {{file.description}}</p>
                                                        </a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </div>

                                            <div class="author-entry">
                                                <a href="#" class="author-thumbnail"><img alt=""
                                                        src="{% static 'blog/img/theme-3/logo-act-1.png' %}"
                                                        class="img-circle"></a>
                                                <div class="author-text">KhAI-K407GIS <span class="category">
                                                        {{post.category}} </span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        <div class="paginator">
                            <ul>
                                {% for i in paginator.page_range %}
                                {% if posts.number == i %}
                                <li><a class="active">{{ i }}</a></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div>
                                {% if posts.has_previous %}
                                <a href="?page={{ posts.previous_page_number }}" class="arrow-button"><span
                                        aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>{% trans "Попередня" %}</a>
                                {% else %}
                                <a href="" class="arrow-button"><span aria-hidden="true"></span></a>
                                {% endif %}

                                {% if posts.has_next %}
                                <a href="?page={{ posts.next_page_number }}" class="arrow-button">{% trans "Наступна " %}<span
                                        aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                                {% endif %}

                            </div>


                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}