<!DOCTYPE html>
<html lang="en">
{% load i18n %}

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="{% trans "ХАИ ГИС кафедра 407" %}" />
    <meta http-equiv="Content-Language" content="{% trans "uk" %}" />
    {% load static %}
    <link href="{% static 'blog/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico' %}" />
    <link href="{% static 'blog/css/devices.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'blog/css/style.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'blog/css/animate.css'%}" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{% static 'blog/js/sweet-alert.min.js'%}"></script>
    <link href="{% static 'blog/css/sweet-alert.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css" />
    {% block plushead %}
    {% endblock %}
</head>

<body data-theme="theme-3">

    <!-- HEADER -->
    <header class="{% if active != 'index' %} act default-act{% endif %} {% if HideHeader == True %}hidden{% endif %}">
        <a href="/" id="logo">
            <img src="{% static 'blog/img/theme-3/logo.png'%}" alt="{% trans "Кафедра геоінформаційних технологій та космічного моніторингу Землі" %}" />
            <img class="act" src="{% static 'blog/img/theme-3/logo-act.png'%}" alt="{% trans "Кафедра геоінформаційних технологій та космічного моніторингу Землі" %}" /></a>
        <div class="mob-icon">
            <span></span>
        </div>
        <nav>
            {% get_current_language as LANGUAGE_CODE %}
            <ul>
                <li><a href="/{{LANGUAGE_CODE}}/" class="submeny-top scroll-to-link {% if active == 'index' %} act {% endif %}">K407</a></li>
                <li><a href="/{{LANGUAGE_CODE}}/blog" class="{% if active == 'blog' %} act {% endif %}">{% trans "НОВИНИ" %}</a></li>
                <li><a href="/{{LANGUAGE_CODE}}/abit" class="scroll-to-link {% if active == 'abit' %} act {% endif %}">{% trans "АБІТУРІЄНТУ" %}</a></li>
                <li><a href="/{{LANGUAGE_CODE}}/blog/international" class="{% if active == 'international' %} act {% endif %}">{% trans "МІЖНАРОДНІ ВІДНОСИНИ" %}</a></li>
                <li><a href="/{{LANGUAGE_CODE}}/gallery" class="{% if active == 'gallery' %} act {% endif %}">{% trans "ГАЛЕРЕЯ" %}</a></li>
                <li class="submeny">
                    <a href="#" class="submeny-top {% if active == 'library' %} act {% endif %}">{% trans "РОЗДІЛИ" %}</a>
                    <ul>
                        <li><a href="{% if active != 'index' %}/{{LANGUAGE_CODE}}/#about-kaf{% else %}#about-kaf{% endif %}" class="scroll-to-link">{% trans "ПРО КАФЕДРУ" %}</a></li>
                        <li><a href="{% if active != 'index' %}/{{LANGUAGE_CODE}}/#directions{% else %}#directions{% endif %}" class="scroll-to-link">{% trans "НАПРЯМИ ПІДГОТОВКИ" %}</a></li>
                        <li><a href="/{{LANGUAGE_CODE}}/internationalprojects">{% trans "МІЖНАРОДНІ ПРОЕКТИ" %}</a></li>
                        <li><a href="/{{LANGUAGE_CODE}}/museum">{% trans "МУЗЕЙ" %}</a></li>
                        <li><a href="/{{LANGUAGE_CODE}}/remotesensingdata">{% trans "АКТУАЛЬНІ ДАНІ ДЗЗ" %}</a></li>
                        <!-- <li><a href="/library" class="{% if active == 'library' %} act {% endif %}">БІБЛІОТЕКА</a></li> -->
                        <li><a href="/{{LANGUAGE_CODE}}/gisdayteaser">{% trans "ДЕНЬ ГІС" %}</a></li>
                        <li><a href="/{{LANGUAGE_CODE}}/stud" class="{% if active == 'stud' %} act {% endif %}">{% trans "СТУДЕНТУ" %}</a></li>
                        <li><a href="{% if active != 'index' %}/{{LANGUAGE_CODE}}/#partners{% else %}#partners{% endif %}" class="scroll-to-link">{% trans "ПАРТНЕРИ" %}</a></li>
                        <li><a href="/{{LANGUAGE_CODE}}/contact">{% trans "ЗВОРОТНІЙ ЗВ'ЯЗОК" %}</a></li>
                    </ul>
                </li>
                <li><a href="/{{LANGUAGE_CODE}}/contact" class="{% if active == 'contact' %} act {% endif %}">{% trans "КОНТАКТИ" %}</a></li>
                <li><a href="https://www.instagram.com/khaigis/" class="centeredsociallinks" style="margin-right: 0px; padding-top:2px;"><i class="fab fa-instagram" style="font-size:32px; max-width: 28px;"></i></a>
                <li><a href="https://facebook.com/groups/1805705046354019" class="centeredsociallinks" style="margin-right: 0px; margin-left: 0px; padding-top:2px;"><i class="fab fa-facebook-square" style="font-size:32px; max-width: 28px;"></i></a>
                <li><a href="https://plus.google.com/communities/107663742044689445130" class="centeredsociallinks" style="margin-right: 0px; margin-left: 0px; padding-left: 8px; padding-top:2px;"><i class="fab fa-google-plus-g" style="font-size:32px;  max-width: 28px;"></i></a>
                <li><a href="https://www.youtube.com/channel/UCgfZNxNYJhfUOsF13orovWQ/featured" class="centeredsociallinks" style="margin-right: 0px; margin-left: 0px; padding-left: 8px; padding-top:2px;"><i class="fab fa-youtube" style="font-size:32px;  max-width: 28px;"></i></a>
            </ul>
        </nav>
        <!-- LANGUAGE SWITCHER -->

        <form action="{% url 'set_language' %}" method="post" id="language-switcher">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" onchange="this.form.submit()" value="Go">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {% if language.code == 'en' %} 🇬🇧 {% endif %}
                        {% if language.code == 'ru' %} 🇷🇺{% endif %}
                        {% if language.code == 'uk' %} 🇺🇦{% endif %}
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="hidden" value="Go">
        </form>

        <!-- END OF LANGUAGE SWITCHER -->
    </header>
    <!-- END OF HEADER -->

    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    <footer style="{% if active == 'maintenance' %} margin-top:0px; !important {% endif %}">
        <div class="subscribe">
            <span class="subscribe-text">{% trans "Маєте бажання навчатися у нас?" %}</span>
            <form>
                <input type="text" name="phone" placeholder="{% trans "ВВЕДІТЬ СВІЙ № ТЕЛЕФОНУ" %}" required />
                <input type="submit" id="submittel" />
            </form>
            <span class="subscribe-text">{% trans "   і ми з Вами зв'яжемося" %}</span>
        </div>
        <div class="footer-bottom">
            <div class="footer-linck">
                <a href="/{{LANGUAGE_CODE}}/blog">{% trans "Новини" %}</a>
                <a href="/{{LANGUAGE_CODE}}/gallery">{% trans "Галерея" %}</a>
                <a href="/{{LANGUAGE_CODE}}/abit">{% trans "Абітурієнту" %}</a>
                <!-- <a href="/library">Бібліотека</a> -->
                <a href="/{{LANGUAGE_CODE}}/contact">{% trans "Контакти" %}</a>
            </div>
            <div class="media-icon">
                <a href="https://www.instagram.com/khaigis/"><i class="fab fa-instagram" style="font-size:24px; color: #4caf50; margin-top: 4px;"></i></a>
                <a href="https://facebook.com/groups/1805705046354019"><i class="fab fa-facebook-f" style="font-size:24px; color: #4caf50; margin-top: 4px;"></i></a>
                <a href="https://plus.google.com/communities/107663742044689445130"><i class="fab fa-google-plus-g"
                        style="font-size:24px; color: #4caf50; margin-top: 4px;"></i></a>
                <a href="https://www.youtube.com/channel/UCgfZNxNYJhfUOsF13orovWQ/featured"><i class="fab fa-youtube"
                        style="font-size:24px; color: #4caf50; margin-top: 4px;"></i></a>
            </div>
            <div class="copy">
                <span>© 2016-2021 All rights reserved. #KHAIGIS</span>
                <br>
                <span></span>
                <br>
                <span><a href="/{{LANGUAGE_CODE}}/contact#devs">{% trans "Розробники" %}</a></span>
            </div>
        </div>
        <div class="back-to-top"><i class="fa fa-chevron-up"></i></div>
    </footer>
    <!-- END OF FOOTER -->

    <!-- GOOGLE ANALYTICS -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46655666-2', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- END OF GOOGLE ANALYTICS -->

    <!-- CONTACT US -->
    <script type="text/javascript">
        function send(dataform) {
            $.ajax({
                url: '{% static "blog/send_mail.php" %}',
                type: 'POST',
                data: dataform,
                success: function (msg) {
                    var response = JSON.parse(msg);
                    if (response.success) {
                        swal("Повідомлення відправлено!", "Ми зв'яжемося з Вами", "success");
                    } else {
                        swal("Помилка", "Ввдіть текст повідомлення", "error");
                    }
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
        $('#submit, #submittel').click(function () {
            var dataform = $('form').serialize();
            send(dataform);
            return false;
        });
    </script>
    <!-- END OF CONTACT US -->

    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbnYAs7Klg1x8q0mF8CSDA_MkPU7Avrn8"></script>
    <script> let markerpath = "{% static 'blog/img/marker.png' %}" </script>
    <script src="{% static 'blog/js/map.js' %}"></script>
    <script src="{% static 'blog/js/global.js' %}"></script>
    <script src="{% static 'blog/js/subscription.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js"></script>
    {% block plusscripts %}
    {% endblock %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.banner-slider').slick({
                speed: 600,
                swipeToSlide: true,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 3000,
                slidesToShow: 3,
                responsive: [
                    {
                        breakpoint: 780,
                        settings: {
                            slidesToShow: 2,
                            swipeToSlide: true,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            swipeToSlide: true,
                        }
                    }
                ]
            });
            $('.vertical-slider').slick({
                adaptiveHeight: true,
                infinite: true,
                arrows: true,
                appendArrows: '#slickdotsid',
                prevArrow: '<button type="button" class="slick-prev button" style="border:none; margin: 0 5px;"><i class="fas fa-chevron-left" style="font-size: 17px;"></i></button>',
                nextArrow: '<button type="button" class="slick-next button" style="border:none; margin: 0 5px;"><i class="fas fa-chevron-right" style="font-size: 17px;"></i></button>',
                asNavFor: '.vertical-slider2',
                speed: 600,
                responsive: [
                    {
                        breakpoint: 1000,
                        settings: {
                            slidesToShow: 1,
                            swipeToSlide: true,
                            verticalSwiping: false,
                        }
                    },
                ]
            });
            $('.vertical-slider2').slick({
                adaptiveHeight: false,
                infinite: true,
                asNavFor: '.vertical-slider',
                arrows: false,
                speed: 600,
                responsive: [
                    {
                        breakpoint: 1000,
                        settings: {
                            slidesToShow: 1,
                            swipeToSlide: true,
                            verticalSwiping: false,
                        }
                    },
                ]
            });
            $('.responsive').slick({
                dots: false,
                speed: 300,
                slidesToShow: 5,
                swipeToSlide: true,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1480,
                        settings: {
                            slidesToShow: 4,
                            swipeToSlide: true,
                        }
                    },
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            swipeToSlide: true,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            swipeToSlide: true,
                        }
                    },
                ]
            });
        });
    </script>
</html>